<div class="">
<div class="row p-3 mb-2 bg-warning text-dark">
<div class="col-md-4">
	<img src="../assets/edureka-logo.PNG" width="300" alt="">
</div>

<div class="col-md-8">
	<h1 style.color="#185196" class="text-primary">Angular Tutorial - Routing</h1>
</div>
</div>
<hr>

<div class="container">
	<div class="row">
		<ul class="nav nav-pills">
			<li><a routerLink="/"> Home </a></li>
			<li><a routerLink="/blog"> Blog </a></li>
			<li><a routerLink="/about"> About </a></li>
		</ul>
	</div>
</div>

<div class="">
	<router-outlet></router-outlet>
</div>